@import '~/node_modules/bootstrap/dist/css/bootstrap.css';
@import '~/node_modules/bootstrap-vue/dist/bootstrap-vue.css';

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}